.box {
  width: 100%;
  max-width: 300px; /* Will be AT MOST 320px wide */
  word-wrap: break-word;
  text-size-adjust: auto;
  height: auto;
  margin: 50px auto;
  background: #00bfb6;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  font-size: 12px;
  color: #fff;
  font-family: arial;
  position:relative;
}

.sb3:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #00bfb6;
  border-right: 10px solid transparent;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  left: 19px;
  bottom: -19px;
}